<div>
    
    <h1>@ViewBag.disco.nombreDisco</h1>
    <h5>Artista: @ViewBag.disco.nombreArtista</h5>
    <h5>Género: @ViewBag.disco.nombreGenero</h5>
    <h5>Productor: @ViewBag.disco.nombreProductor</h5>
    <img src="~/img/@ViewBag.disco.foto">
    <h2>Lista de temas</h2>
    
    
</div>

